{% extends 'includes/master.html' %}
{% block body %}
{% load static %}

<div class="page-title">
    <div class="row">
        <div class="col-6">
            <h3>Add FAQ's</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="add_faqs" method="post">
                        {% if messages %}
                        {% for message in messages %}
                            <div id="alertDiv" class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label class="col-form-label">Question</label>
                            <input class="form-control" type="text" required="" name="question" placeholder="Question">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Answer</label>
                            <textarea class="form-control" required="" name="anwser" rows="5" placeholder="Write Answer here..."></textarea>
                            <div class="form-group mb-0">
                                <div class="text-end mt-3">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready( function() {
        $('#alertDiv').delay(3000).slideUp(1200);
    });
</script>
{% endblock %}