{% extends 'includes/master.html' %}
{% block body %}
{% load static %}

<div class="page-title">
    <div class="row">
        <div class="col-6">
            <h3>App Settings</h3>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
    <div id="alertDiv" class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<div class="col-lg-12">
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body">
                    <table class="table">
                      <tr>
                        <td> <h6 class="f-w-600" style="width: 300px;">Free User Allowed Swipes</h6> </td>
                        <td> <p style="width: 100px;" ><b>{{ accessories.free_user_allowed_swipes }}</b></p></td>
                        <td >
                          <button class="btn btn-primary"  style="float: right;" type="button" data-bs-toggle="modal" data-bs-target="#free_user_allowed_swipes"><i class="fa fa-edit fa-lg"></i></button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body">
                    <table class="table">
                      <tr>
                        <td> <h6 class="f-w-600" style="width: 300px;">Pro User Allowed Swipes</h6> </td>
                        <td> <p style="width: 100px;"><b>{{ accessories.pro_user_allowed_swipes }}</b></p></td>
                        <td>
                          <button class="btn btn-primary" style="float: right;" type="button" data-bs-toggle="modal" data-bs-target="#pro_user_allowed_swipes"><i class="fa fa-edit fa-lg"></i></button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="free_user_allowed_swipes" tabindex="-1" role="dialog" aria-labelledby="iosmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Free User Allowed Swipes</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="update_free_user_allowed_swipes">
          {% csrf_token %}
          <div class="modal-body">
            <p>Please write the <b>Free User Allowed Swipes Per Day</b> in the below field to update</p>
            <input type="text" value="{{ accessories.free_user_allowed_swipes }}" class="form-control" name="free_user_allowed_swipes" required/>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="pro_user_allowed_swipes" tabindex="-1" role="dialog" aria-labelledby="androidmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Pro User Allowed Swipes</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="update_pro_user_allowed_swipes">
          {% csrf_token %}
          <div class="modal-body">
            <p>Please paste the <b>Pro User Allowed Swipes</b> in the below field to update</p>
            <input type="text" value="{{accessories.pro_user_allowed_swipes}}" class="form-control" name="pro_user_allowed_swipes" required/>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready( function() {
      $('#alertDiv').delay(3000).slideUp(1200);
  });
</script>
{% endblock %}